<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="sourcepath" value="D:\home\site\wwwroot\bin\apache-tomcat-8.0.33\logs"/>
    <add key="destpath" value="D:\home\site\wwwroot\bin\apache-tomcat-8.0.33\logscopy"/>
  </appSettings>
</configuration>